@import './1-settings/_settings.global.scss';
@import './2-tools/_tools.global.scss';
@import './3-generic/_generic.global.scss';
@import './4-elements/_elements.global.scss';
@import './5-objetcs/_objects.global.scss';
@import './6-components/_components.global.scss';
@import './7-utilities/_utilities.global.scss';