//page colors
$color-main: default;
$color-hover: default;
$color-shadow: default;

//selection color
$color-selection-background: default;
$color-selection: default;

// links colos
$color-link: default;
$color-link-hover: default;

//btn colors
$color-btn: default;
$color-btn-hover: default;
